.Background-circle-one{
    width: 45.486vw;
    height:  80vh;
    margin-left: -6.95vw;
    margin-top: -19.514vw;
    border-radius: 50%;
  
    position: relative;
    display: inline-block;
  
    background: #FF4656;
  }
  .Background-circle-two{
    width: 1.597vw;
    height: 2.8048vh;
    margin-left: -34.722vw;
    top: 25.75vw;
    border-radius: 50%;
  
    position: relative;
    display: inline-block;
  
    background: #505155;
  }
  .Background-circle-tree{
    width: 11.805vw;
    height: 20.732vh;
    margin-left: 0px;
    top: 38.25vw;
    border-radius: 50%;
  
    position: relative;
    display: inline-block;
    
    background: #EFEFEF;
  }
  .Background-circle-four{
    width: 23.819vw;
    height: 41.829vh;
    margin-left: 83.611vw;
    top: 16.61vw;
  
    border-radius: 50%;
  
    position: relative;
    display: inline-block;
  
    background: #292C31;
  }
  .Background-circle-five{
    width: 0.694vw;
    height: 1.219vh;
    margin-left: 89.277vw;
    top: -54.166vw;
  
    border-radius: 50%;
  
    position: relative;
    display: inline-block;
  
    background: #FF4656;
  }
  .Background-circle-six{
    width: 5.555vw;
    height: 9.756vh;
    left: -3.889vw;
    top: -46.916vw;
  
    border-radius: 50%;
  
    position: relative;
    display: inline-block;
  
    background: #EFEFEF;
  }
  .Background-circle-seven{
    width: 1.736vw;
    height: 3.0488vh;
    margin-left: 93.33vw;
    top: -47.916vw;
    border-radius: 50%;
  
    position: relative;
    display: inline-block;
  
    background: #505155;
  }